<suite name="Suite-1" verbose="1">
  <test name="Rest_Assured_APITests-Phoenix">
    <classes>
       <class name="phoenix_api_automation_framework.LoginAPITest"/>
       <class name="phoenix_api_automation_framework.UserdetailAPI_Test"/>
       <class name="phoenix_api_automation_framework.CountAPITest"/>
       <class name="phoenix_api_automation_framework.MasterAPI_Test"/>
        <class name="phoenix_api_automation_framework.CreateJobAPITest"/>
    </classes>
  </test>

</suite>